html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

body {
    background-color: lightgrey
}
#main {
    display: flex;
}

#sidepanel {
    background-color: white;
    min-height: 600px;
    padding: 15px;
}

#main-content {
    flex-grow: 1;
}

#heading {
    background-color: lightblue;
}

#add-project-input {
    display: none;
}

#to-do-form {
    display: none;
}

.task-list {
    display: flex;
    gap: 5px 80px;
}

.task-list > div > span {
    padding: 15px;
}

.task-ul > li {
    padding: 15px;
}

.description {
    margin-left: 15px;
}

.complete {
    text-decoration: line-through;
}

.important {
    color: yellow;
}

.material-symbols-outlined:hover {
    color: darkblue;
}